img {
    
    width: 250px;
    height: auto;

}

h3 , h1{
    color:blueviolet;

}

p {
    color:green;
}

h2 {
    color: rgb(11, 48, 80);
}

body { 
    font-style: oblique; 
    font-weight: bold; 
    letter-spacing: 2px;
    background-color: gainsboro;
}
